.top-bottom-buffer {
    margin-top:20px;
    margin-bottom: 20px;
}

html {
    font-size: 1rem;
}

@include media-breakpoint-up(md) {
    html {
        font-size: 0.6rem;
    }
}

.select-user {
    max-width: 400px;
}

.select-position button{
    background-color: red;
    width: 50px;
    height: 50px;
    margin-left: 4px;
    margin-right: 4px;
}